#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f2f2f;
  color: aliceblue;
  min-height: 100vh;
}
body {
  background-color: #1a1a1a;
}
a {
  color: #c2dfda;
}
.product-card:hover {
  box-shadow: 0 0 10px rgba(74, 70, 70, 0.4);
}
.product-card {
  border: 1px solid #1a1a1a;
  width: 300px;
  max-width: 100%;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.product-card img {
  width: 100%;
}
